// *******************************************************************************************************
// # 投稿バナー
// *******************************************************************************************************

// バナー
.c-article-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.c-article-card {
  box-shadow: 0 3px 15px rgba(189,195,199,.7);
  width: calc(50% - 20px);
}
.c-article-card__inner {

  a {
    display: block;

  }
}
.c-article-card__thumb {
  img {
    width: 100%;
    height: auto;
  }
}
.c-article-card__overview {
  padding: 15px;
}
.c-article-card__head {
}
.c-article-card__date {
  color: #666;
  font-size: 12px;
}
.c-article-card__title {
  margin-top: 8px;
  font-size: 16px;
}
