// *******************************************************************************************************
// ボタン
// *******************************************************************************************************

.c-btn {
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  transition: .3s;
  background: #212121;

  &:hover,
  &:focus {
    opacity: .8;
    outline: none;
  }
}

// 色
.c-btn--general {
  background: linear-gradient(180deg, #FF8446 0%, #EF6344 100%);
  color: white;
  font-weight: bold;
}

// 大きさ
.c-btn--full {
  width: 100%;
}

// フォーム submit 用
.c-btn--form {
  padding: 25px;
  width: 330px;
  font-size: 22px;
  display: block;
  margin: auto;
}