// *******************************************************************************************************
// # 見出し
// *******************************************************************************************************

.c-headings {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #f0f1f2;
  font-weight: 500;
  letter-spacing: 1px;

  @media #{$sp} {
    font-size: 18px;
  }
  @media #{$pc} {
    font-size: 18px;
    line-height: 2;
  }
}
.c-heading {
  position: relative;
  font-weight: 500;

  @media #{$sp} {
    padding-bottom: 5px;
  }
  @media #{$pc} {
    padding-bottom: 5px;
  }

  &::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    background: $baseColor;
    content: "";
  }
}
.c-heading__sub {
  margin-left: auto;
  padding-left: 5px;

  @media #{$pc} {
    padding-bottom: 8px;
    font-size: 12px;
  }
}
.c-heading__sub-link {
  color: #7e858c;

  @media #{$sp} {
    font-size: 12px;
  }

  &::after {
    padding-left: 3px;
    content: ">";
  }
}

.c-heading__category {
  position: relative;
  font-weight: 600;
  font-size: 30px;
}
.c-heading__category-count {
  font-weight: 500;
}