/* =========================================================
    Header Logo
========================================================= */

.c-header-heading {

  @media #{$sp} {
    position: absolute;
    left: 20px;
    transition: 0.2s;
    width: calc(100vw - 130px);
  }
}

.c-header-heading__link {
  display: flex;

  @media #{$sp} {
    flex-direction: row;
    align-items: center;
  }

  @media #{$pc} {
    align-items: center;
  }
}

.c-header-heading__sub {
  line-height: 1;

  @media #{$sp} {
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
  }

  @media #{$pc} {
    padding-left: 10px;
  }
}

.c-header-heading__logo {
  display: block;
  padding-top: 5px;
  color: #fff;
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  line-height: 1;

  @media #{$pc} {
    font-size: 34px;
  }
}

.c-header-heading__logo-image {
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 100px;
}
.c-header-heading__copy {
  display: block;
  margin-left: 10px;
  padding-top: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;

  @media #{$pc} {
    margin-left: 15px;
    font-size: 14px;
  }
}
