// *******************************************************************************************************
// # アーカイブページネーション
// *******************************************************************************************************

$paginationMainColor: #212121;

.c-pagination {
  display: flex;
  justify-content: center;
}

.c-pagination__item {
  a {
    transition: 0.3s;

    &:hover {
      background: $paginationMainColor;
      transition: 0.3s;
    }
  }

  // override
  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #333;
    background-color: #f8f8f8;
    margin: 0 5px;

    @media #{$sp} {
      width: 40px;
      height: 40px;
    }
    @media #{$pc} {
      min-width: 44px;
      height: 44px;
      line-height: 44px;
      font-size: 18px;
    }

    &.current {
      background: $paginationMainColor;
      color: #fff;
    }

    &.dots {
      @media #{$sp} {
        width: auto;
      }
    }

    &:hover {
      color: #fff;
    }
  }
}
