// *******************************************************************************************************
// # 目次
// *******************************************************************************************************

.c-post-index {
  background: $grayColor;

  @media #{$sp} {
    margin: 60px 0;
    padding: 20px;
  }
  @media #{$pc} {
    margin: 80px 0;
    padding: 20px 35px;
  }
}

.c-post-index__title {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;

  @media #{$sp} {
    font-size: 14px;
  }
  @media #{$pc} {
    font-size: 15px;
  }

  &::before {
    padding-right: 5px;
    font-size: 10px;
    content: "▲";
    transition: .3s;
  }

  &.is-active {
    &::before {
      transform: rotate(180deg) translateX(5px);
    }
  }
}

.c-post-index__list {
  margin-bottom: 0 !important;

  @media #{$pc} {
    margin-left: 1em;
  }
}
.c-post-index__item {
  color: #525c66;
}
.c-post-index__link {
  color: #525c66 !important;

  @media #{$sp} {
    font-size: 14px;
  }
}
.c-post-index__link--headline {
  @media #{$sp} {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e4e6;
  }
}
