// *******************************************************************************************************
// # ウィジウィグ/gutenbergエディター用のクラス
// *******************************************************************************************************

.c-post-wysiwyg {
  line-height: 1.7;
  font-size: 16px;

  @media #{$pc} {
    margin-top: 80px;
    line-height: 2;
  }

  // ウィジウィグ用スタイル
  @import 'core/wysiwyg.scss';
}
