// *******************************************************************************************************
// # 採用情報はこちら
// *******************************************************************************************************

.c-recruit-relative {
  margin: 30px 0;
  padding: 0;

  @media #{$pc} {
  }
}

.c-recruit-relative__inner {

  @media #{$pc} {
  }
}

.c-recruit-relative__title {
  font-weight: bold;
}

.c-recruit-relative__list {
  margin-top: 10px;

  @media #{$pc} {
  }

}
.c-recruit-relative__item {
  margin-bottom: 15px;

  a {
    display: inline-block;
    padding: 16px 20px 16px 46px;
    background-color: #f6f6f6;
    background-image: url(./img/common/icn/ic_arrow_black.png);
    background-position: 20px 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    font-size: 16px;
  }

  @media #{$pc} {
    a {
      &:hover {
        color: #fff;
        background-color:#333;
        background-image: url(./img/common/icn/ic_arrow_white.png);
      }
    }
  }
}
.c-recruit-relative__more {
  margin-top: 10px;

  a {
    color: #666;
    font-size: 14px;
  
  }
}
.c-recruit-relative__noitem {
  display: block;
  margin-top: 20px;
  padding: 20px;
  background-color: #f6f6f6;
}
.c-recruit-relative__noitem-title {
  font-size: 14px;
}
.c-recruit-relative__noitem-text {
  margin-top: 5px;
  font-size: 14px;
}
.c-recruit-relative__notfound {
  display: none;
}
