// *******************************************************************************************************
// # 検索バー
// *******************************************************************************************************

.c-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 2px;

  @media #{$sp} {
    padding: 10px 14px;
  }
  @media #{$pc} {
    padding: 6px 10px;
    border: 1px solid #ccc;
  }
}

.c-search-bar__input {
  border: none;
  font-size: 13px;

  &:focus {
    outline: none;
  }
}

.c-search-bar__button {
  width: 23px;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
