/* =========================================================
    layout footer
========================================================= */

.l-footer {
  padding: 20px 0;
  background-color: #212121;
  color: #fff;
  font-size: 13px;
}

.l-footer__inner {
  display: grid;

  @media #{$sp} {
    grid-template:
      "logo" 35px
      "body" auto
      "copyright" auto /
      auto;
      gap: 20px;
  }
  @media #{$pc} {
    grid-template:
      "logo body" auto
      "copyright copyright" auto /
      180px 1fr;
      gap: 10px;
  }
}

.l-footer__head {
  grid-area: logo;
  text-align: left;
}
.l-footer__logo {
  //width: 100px;
  padding-top: 5px;
  color: #fff;
  font-size: 28px;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  line-height: 1;

  @media #{$pc} {
    font-size: 34px;
  }
}

.l-footer__body {
  grid-area: body;
  @include columns(1, "20px", 1, "15px");
}

.l-footer__copyright {
  grid-area: copyright;
  font-size: 15px;

  @media #{$pc} {
    margin-top: 30px;
    text-align: center;
  }
}

.l-footer__navi-list {
  display: flex;

  @media #{$sp} {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -10px;
  }
  @media #{$pc} {
    justify-content: flex-end;
  }
}
.l-footer__navi-item {
  a {
    color: #fff;
  }

  @media #{$sp} {
    width: 48%;
    margin-bottom: 5px;
  }
  @media #{$pc} {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
