// *******************************************************************************************************
// # メイン
// *******************************************************************************************************

.l-wrap {

  @media #{$pc} {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    width: 1200px;
  }

}
.l-main {
  width: 100%;

  @media #{$pc} {
    width: 820px;
  }

}
.l-article {
  padding: 0 15px;
  background-color: #fff;
  border-radius: 10px;

  @media #{$pc} {
    padding: 10px 30px;
  }
}