// *******************************************************************************************************
// # メイン
// *******************************************************************************************************

.l-main {
  display: grid;

  @media #{$sp} {
    margin: 30px 0 60px;
    gap: 60px;
  }
  @media #{$pc} {
    grid-template-rows: auto;
    grid-template-columns: 760px 300px;
    gap: 40px;
    width: $baseContentsWidth;
    margin: 40px auto 100px;
  }
}
