// *******************************************************************************************************
// # メイン
// *******************************************************************************************************

.l-wrap {

  @media #{$pc} {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    width: 1200px;
  }

}
.l-main {
  width: 100%;
  padding: 20px;

  @media #{$pc} {
    width: 820px;
    padding: 0;
  }

}
.l-article {
  padding:  10px 20px 20px;
  background-color: #fff;

  @media #{$pc} {
    border-radius: 10px;
    padding: 10px 30px;
  }
}