// *******************************************************************************************************
// # サイドバー
// *******************************************************************************************************

.l-sidebar {
  @media #{$sp} {
    padding: 0 20px;
  }
}

.l-sidebar__section {
  &:not(:first-child) {
    padding-top: 50px;
  }
}

.l-sidebar__banner-link {
  display: block;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.l-sidebar__banner-image {
  @media #{$sp} {
    width: 100%;
  }
}
.l-sidebar__banner-list {
  margin-top: 20px;
}
.l-sidebar__banner-item {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.l-sidebar__category-list {
  margin-top: 10px;

  @media #{$sp} {
    li {
      margin-bottom: 5px;
      padding: 2px 0;
    }
    span {
      margin-left: 5px;
    }
  }

  @media #{$pc} {
    li {
      padding: 3px 0;
    }
    span {
      margin-left: 5px;
    }
  }
}

.l-sidebar__tag-list {
  margin-top: 20px;

  @media #{$sp} {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 5px;
    }
    span {
      margin-left: 5px;
    }
  }

  @media #{$pc} {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 5px;
    }
    span {
      margin-left: 5px;
    }
  }
}
