// *******************************************************************************************************
// LP
// *******************************************************************************************************

.p-lp {
  letter-spacing: 0.5px;
}

.p-lp__person {
  margin: 40px 0;
  display: grid;
  @include columns(1, "30px", 1, "20px 0");

  // override: c-person-card__heading
  .c-person-card__heading {
    @media #{$pc} {
      font-size: 20px;
    }
  }
}

.p-lp__post-heading {
  @media #{$sp} {
    font-size: 22px;
  }
  @media #{$pc} {
    font-size: 30px;
  }
}


.p-lp__adsense {
  background: #F1F7FC;
  padding: 30px 20px 20px;
  text-align: center;
  margin: 60px 0;
}
.p-lp__adsense-heading {
  @media #{$sp} {
    font-size: 20px;
  }
  @media #{$pc} {
    font-size: 22px; 
  }
}
.p-lp__adsense-tel-icon {
  width: 20px;
}
.p-lp__adsense-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  
  @media #{$sp} {
    flex-direction: column;
  }
}
.p-lp__adsense-btns {

  // override: c-btn
  .c-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$sp} {
      height: 80px;
    }
    @media #{$pc} {
      width: 48%;
      font-size: 17px;
    }
  }
}

.p-lp__adsense-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #666666;

  @media #{$sp} {
    flex-direction: column;
  }
}
.p-lp__adsense-hour {
  display: flex;
  align-items: center;
  line-height: 1;

  @media #{$sp} {
   flex-direction: column; 
  }
}
.p-lp__adsense-hour-text {
  display: flex;
  align-items: center;
}

.p-lp__adsense-tel {
  font-size: 30px;
  font-weight: bold;
}

.p-lp__sidebar {
  
  @media #{$sp} {
    padding: 0 20px;
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    height: 0;
    overflow-y: auto;
    background: #fff;
    transition: 0.3s;
    z-index: 9999;
    
    &.is-opened-humberger {
      height: calc(100vh - 71px);
      padding: 20px;
    }
  }

  // override: c-heading
  .c-heading {
    @media #{$sp} {
      font-size: 15px;
    }
    @media #{$pc} {
      font-size: 13px;
    }
    
    &::after {
      content: none;
    }
  }
}
.p-lp__sidebar__inner {
  @media #{$pc} {
    position: sticky;
    top: 100px;
  }
}

.p-lp__sidebar__content {
  display: grid;
  grid-template: auto 1fr / 1fr;

  @media #{$sp} {
    gap: 30px;
  }
  @media #{$pc} {
    gap: 20px;
  }
}

.p-lp__sidebar__info {
  background: $grayColor;
  padding: 20px;
}

.p-lp__sidebar__info-item {
  margin-top: 15px;
}

.p-lp__sidebar__contact {
  color: #666;
  background: #fff;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  padding: 13px;
  text-align: center;
  letter-spacing: 0.5px;
}
.p-lp-sidear__contact-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-lp__sidebar__contact-heading-icon {
  width: 21px;
}
.p-lp__sidebar__hour {
  border: 1px solid;
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
}
.p-lp__sidebar__tel {
  font-size: 24px;
  margin-top: 10px;
  line-height: 1;
}

.p-lp__sidebar__posts {
  @include columns(1, "0 0", 1, "20px 0");
  margin-top: 10px;

  // override: c-post-card-small
  .c-post-card-small__block {
    @media #{$pc} {
      padding: 10px;
    }
  }
}